/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
}

/* Barra superior */
.top-bar {
    background: #222;
    color: gold;
    padding: 8px 20px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}

/* Cuadro WhatsApp arriba derecha */
.whatsapp-top-box {
    position: fixed;
    top: 70px;
    right: 20px;
    background: #25d366;
    padding: 12px 14px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 10;
}

.whatsapp-top-box a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.whatsapp-top-box img {
    width: 40px;
    margin-right: 10px;
}

.whatsapp-top-box span {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2em;
}

/* HERO con tu imagen real */
.hero {
    background-image: url("img/imagendefondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
